@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.list {
  color: darkkhaki;
  width: 200px;
  background-color: darkred;
  height: 30px;
  margin: 20px auto;
  border-radius: 5px;
}

.list p {
  padding: 5px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#addB {
  margin-right: 10px;
}
#addB:hover {
  background-color:burlywood;
}


#resetB:hover{
  background-color: darkred;
}

.faicons{
  margin: 0 5px;
  font-size:15px;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

footer {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}